.btn-grey {
	background-color: #B7B7D4; 
	padding: 15px 20px; 
	border-radius: 4px; 
	color: #000080;
	font-weight: bolder;
	font-family: 'Dosis', sans-serif;
}

.btn-purple{
	background-color: #B7B7D4; 
	padding: 15px 15px; 
	border-radius: 4px; 
	color: #000080;
	font-weight: bolder;
	font-family: 'Dosis', sans-serif;
}